body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
h1 {
    font-family:Anton;
    font-size: 11rem;
}
.letter {
    transition: color 800ms;
}
p {
    font-size: 3rem;
    font-family: Noto Sans JP;
}